<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="UiWebMSys.UiWebMSys.AppTest"/>
      <class name="latest.changes.SwitchTab"/>
      <class name="tests.ng.core.Institutions"/>
      <class name="tests.ng.core.Courses"/>
      <class name="latest.changes.CaptureScreenshot"/>
      <class name="selenium.core.concepts.AlertJS"/>
      <class name="selenium.core.concepts.ScrollToBottomUsingJS"/>
      <class name="selenium.core.concepts.HrefTags"/>
      <class name="tests.ng.core.Locations"/>
      <class name="selenium.core.concepts.FontSizeValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
